<%- include('partials/header') %> 

<div class="card" style="width: 21rem;">
    <img src="./images/rajan.jpeg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">AUTH APP</h5>
      <h6 class="card-subtitle mb-2 text-muted">You found me, <%= (isLoggedIn) ? user.username.charAt(0).toUpperCase() + user.username.slice(1) : 'Parth' %>!</h6>
      <p class="card-text">You are now in the <strong>chamber of secrets</strong>, where lies the deep ocean of 'blah blah'. Ramayan effect!</p>
      <a href="/" class="card-link btn btn-success btn-sm"><i class="fas fa-home"></i> Home</a>
      <a href="/logout" class="card-link btn btn-warning btn-sm"><i class="fas fa-sign-out-alt"></i> Logout</a>
    </div>
    <div class="card-footer text-muted">&copy; Rajan</div>
</div>

<%- include('partials/footer') %> 